.body__community {
    overflow: auto;
}


.community_container {
    
    flex-direction: column;
    height: 100%;
}

.community__content {
    padding: 2rem;
    text-align: center;
}

.community__content h1 {
    margin-bottom: 4rem;
}

.cards__container {
    gap: 2rem;
    align-items: initial;
    color: white;
}

.cards__container > div{
    position: relative;
    padding-top: 5rem;
}

.card img {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 170px;
    height: 150px;
    border-radius: 20%;
    border: 10px solid #6a90a9;
}

.card__wrapped {
    min-width: 250px;
    max-width: 350px;
}

.cards__container > div:nth-child(2) {
    margin-top: -30px;
}

.community__content > div:nth-child(1) {
    position: relative;
}

.community__content .cherry-gradient {
    width: 550px;
    height: 550px;
    top: -250%;
    left: 10%;
}

@media screen and (max-width: 1200px) {
    .cards__container .card {
        min-height: auto; /* Cambiar a altura automática */
        max-height: 500px; /* Cambiar a altura automática */
    }
}

@media screen and (max-width: 850px) {
    .cards__container {
        flex-direction: column; /* Cambiar a disposición de columna */
        align-items: center; /* Centrar los elementos verticalmente */
    }
    .cards__container > div {
        margin-top: 0; /* Eliminar el margen superior entre las tarjetas */
    }

    .community__content .cherry-gradient {
        width: 350px;
        height: 350px;
        top: -120%; /* Ajustar posición vertical */
        left: 0; /* Ajustar posición horizontal */
    }
}

@media screen and (max-width: 545px) {
    .community__content h1 {
        font-size: 4rem;
    }
}