header {
    position: relative;
    height: auto;
}

.header_container {
    font-family: var(--font-title);
    align-items: initial;
    position: relative;
    width: 100%;
    height: 700px;
}

.header__content {
    width: 60%;
    padding: 4rem 5rem;
}

.header__content p {
    font-size: 2rem;
    margin: 1.5rem 0;
    
}

.header__content .box {
    font-size: 1.3rem;
}

.image_container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    background-image: url('/assets/img/inicio.png'); 
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    
}

.web {
    display: none;

}


@media screen and (max-width: 1300px) {
    .body__home {
        overflow: auto;
    }
}

@media screen and (max-width: 980px) {
    .header__content h1 {
        font-size: 4rem;
    }

    .header__content p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 780px) {
    .header_container {
        flex-direction: column;
        align-items: center;
    }
    .header__content {
        text-align: center;
    }
    .body__home {
        overflow: auto;
    }

    .image_container {
        position: relative;
        padding-top: 300px;
        bottom: 12%;
    }

}

@media screen and (max-width: 400px) {
    .header__content h1 {
        font-size: 2.5rem;
    }
    .header__content p {
        font-size: 1rem;
    }
}